<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Coffee Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('nav.ejs');%>

    <div class="container login-container">
        <% if (typeof messages !== 'undefined') { %>
            <p style="color: red;"><%= messages[0] %></p>
        <% } %>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Login to Your Account</h2>
                        <form action="/login" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <p>Don't have an account? <a href="/register" class="link-primary">Register here</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-brown text-white text-center py-3">
        <p>&copy; 2023 CaffeineCache. All Rights Reserved.</p>
        <div class="social-icons">
            <a href="your_facebook_link" class="bi bi-facebook"></a>
            <a href="your_twitter_link" class="bi bi-twitter"></a>
            <a href="your_instagram_link" class="bi bi-instagram"></a>
            
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
